<!DOCTYPE html>
<html lang="en" id="ng-app" ng-app="gApp">
<head>
  <title>Allen Ginsberg Project</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <meta name="description" content="The official online home of the Allen Ginsberg Estate.">
  <meta name="Keywords" content="Allen Ginsberg, Allen Ginsberg Estate, Ginsberg Howl, Howl, Ginsberg, Allen Ginsberg Project" />
  <meta name="google-site-verification" content="g44tikn4bjbTQ2abgXfwEiPcpFku6ohdNiRAycCoK9c" />
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <!-- <meta name="viewport" content="width=device-width"> -->
  <!--[if lte IE 8]>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>
  <![endif]-->
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </style>
	<![endif]-->
</head>
<body>
	<a name="top"/><a>
	<div id="header">
		<div class="header-container">
			<div id="logo">
				<a href="#!/"><img src="/assets/logo.png" alt="Allen Ginsberg .Org" /></a>
			</div>
			<div id="social-links">
				<a href="http://ginsbergblog.blogspot.com/feeds/posts/default?alt=rss" target="_blank"><div id="blogger-icon"></div></a>
				<a href="https://www.facebook.com/therealallenginsberg" target="_blank" title="Facebook"><div id="facebook-icon"></div></a>
				<a href="http://twitter.com/Ginsbergpoem" target="_blank" title="Twitter"><div id="twitter-icon"></div></a>
				<a href="#!/contact" title="Email"><div id="email-icon"></div></a>
			</div>
		</div>
		<div id="main-menu-box">
			<div id="mini-menu">Menu</div>
			<ul id="main-menu" class="menu container">
		    <li><a id="home-link" href="#!/">Home</a></li>
		    <li><a id="announcements-link" href="#!/blog">Blog</a></li>
		    <li><a id="biography-link" href="#!/biography">Biographical</a></li>
		    <li><a id="works-link" href="#!/works">Published Works</a></li>
		    <li><a id="archive-link" href="#!/archive">Archive</a></li>
		    <!-- <li><a href="http://allenginsberg.sandbag.uk.com/Store/DisplayItems.html" target="_blank">Merchandise<span class="ext-link">(ext)</span></a></li> -->
		    <li><a id="links-link" href="#!/links">Links</a></li>
		    <li><a id="links-link" href="#!/contact">Contact</a></li>
		  </ul>
		</div>
	</div>
	<%= yield %>
	<div id="footer">
		<div id="footer-container" class="container">
			<div id="allen-watermark"></div>
			<div id="siteinfo">
				<div>&copy; 2005-2014 Allen Ginsberg Project. All rights reserved. <a href="#!/contact">Contact us</a> for more information.</div>
			</div>
			<div id="sitemap">
				<ul>Site Links
					<li><a href="#!/announcements">Blog/Announcements</a></li>
					<li><a href="#!/biography">Biography</a></li>
					<li><a href="#!/works">Published Works</a>
						<ul>
							<li><a href="#!/works/book">Books</a></li>
							<li><a href="#!/works/audio-recording">Audio</a></li>
							<li><a href="#!/works/film">Film</a></li>
						</ul>
					</li>
				</ul>
				<ul>
					<li>&nbsp;</li>
					<li><a href="#!/archive">Archive</a>
						<ul>
							<li><a href="#!/archive/photography">Photography</a></li>
							<li><a href="#!/archive/art">Art</a></li>
							<li><a href="#!/archive/document">Documents</a></li>
							<li><a href="#!/archive/lecture">Lectures</a></li>
						</ul>
					</li>
					<li><a href="#!/links">Links</a></li>
				</ul>
			</div>
			<div id="external-links">External Links</a>
				<ul>
					<li><a href="http://www.facebook.com/" target="_blank">Facebook</a></li>
					<li><a href="http://www.twitter.com/" target="_blank">Twitter</a></li>
					<li><a href="http://allenginsberg.sandbag.uk.com/Store/DisplayItems.html" target="_blank">Merchandise</a></li>
					<li><a href="http://ginsbergblog.blogspot.com" target="_blank">Blogger site</a></li>
				</ul>
			</div>
		</div>
	</div>
<SCRIPT type="text/javascript">
	var api_token = "<%= @token %>";
	var appPath = "<%= @appPath %>";
	var s3imgURL = "<%= @S3imgURL %>";
</SCRIPT>
</body>
</html>
