<!DOCTYPE html>
<html lang="en" ng-app="gApp">
<head>
  <title>AllenGinsbergOrg</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">

		<%= yield %>

	</div>
<SCRIPT type="text/javascript">
	var api_token = "<%= @token %>";
</SCRIPT>
</body>
</html>
